body {
  background-color: #452636;
}
.page {
  margin: 60px auto 0;
  text-align: center;
  width: 60%;
}

.title {
  color: #FFD5E3;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.subtitle {
  color: #FFD5E3;
  font-size: 20px;
}

input {
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  margin: 20px 0;
  outline: none;
}

.filter {
  font-size: 16px;
}
